*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.19 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.absolute {
  position: absolute;
}

.top-0 {
  top: 0px;
}

.-z-\[999\] {
  z-index: -999;
}

.hidden {
  display: none;
}

.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}

.opacity-40 {
  opacity: 0.4;
}

.opacity-50 {
  opacity: 0.5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Primary Colors */
  --purple-600: hsl(246, 80%, 60%);
  --orange-300-work: hsl(15, 100%, 70%);
  --blue-300-play: hsl(195, 74%, 62%);
  --pink-400-study: hsl(348, 100%, 68%);
  --green-400-exercise: hsl(145, 58%, 55%);
  --purple-700-social: hsl(264, 64%, 52%);
  --yellow-300-self-care: hsl(43, 84%, 65%);
  /* Neutral Colors */
  --navy-950: hsl(226, 43%, 10%);
  --navy-900: hsl(235, 46%, 20%);
  --purple-500: hsl(235, 45%, 61%);
  --navy-200: hsl(236, 100%, 87%);
}

html {
  font-size: 1.25vw;
}

body {
  position: relative;
  aspect-ratio: 375/1469;
  min-height: 100vh;
  width: 100%;
  max-width: 100%;
  padding-left: 5rem;
  padding-right: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1024px) {
  body {
    aspect-ratio: 1440/1024;
    padding-left: 9.1rem;
    padding-right: 9.1rem;
  }
}

body {
  font-family: 'Rubik', sans-serif;
  background: var(--navy-950);
  color: white;
}

main {
  width: 100%;
}

.dashboard {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  place-items: center;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  row-gap: 8rem;
}

@media (min-width: 1024px) {
  .dashboard {
    grid-template-columns: 14rem 2fr;
    place-items: start;
  }
}

.dashboard__profile {
  height: 41rem;
  width: 100%;
  border-radius: 4rem;
}

@media (min-width: 1024px) {
  .dashboard__profile {
    height: 30rem;
    width: 14rem;
    border-radius: 0.5rem;
  }
}

.dashboard__profile {
  background: var(--navy-950);
}

.profile__info {
  -moz-column-gap: 3.7rem;
       column-gap: 3.7rem;
  border-radius: 15px;
  padding: 7rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
}

@media (min-width: 1024px) {
  .profile__info {
    row-gap: 3rem;
    padding-left: 1.85rem;
    padding-right: 1.85rem;
    padding-top: 2.2rem;
    padding-bottom: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
  }
}

.profile__info {
  background: var(--navy-900);
}

.profile__img {
  aspect-ratio: 1 / 1;
  width: 14rem;
  border-radius: 9999px;
  outline-style: solid;
  outline-color: #fff;
}

@media (min-width: 1024px) {
  .profile__img {
    width: 4.5rem;
  }
}

.profile__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
}

.profile__text p {
  margin-bottom: 1rem;
  font-size: 2.875rem;
}

@media (min-width: 1024px) {
  .profile__text p {
    margin-bottom: 0.2rem;
    font-size: 0.875rem;
  }
}

.profile__text p {
  color: hsl(236, 100%, 87%);
}

.profile__text h1 {
  font-size: 5.125rem;
  line-height: 138%;
}

@media (min-width: 1024px) {
  .profile__text h1 {
    font-size: 2.2rem;
  }
}

.profile__text h1 {
  font-weight: 300;
}

.profile__timeframe {
  -moz-column-gap: 1.35rem;
       column-gap: 1.35rem;
  padding: 5rem;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
}

@media (min-width: 1024px) {
  .profile__timeframe {
    row-gap: 0.8rem;
    padding-left: 1.9rem;
    padding-right: 1.9rem;
    padding-top: 1.8rem;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
  }
}

.timeframe__btn {
  cursor: url('/images/icons/cursor.png'), pointer;
  text-align: left;
  font-size: 3.875rem;
  font-weight: 300;
}

@media (min-width: 1024px) {
  .timeframe__btn {
    font-size: 0.95rem;
  }
}

.timeframe__btn {
  background: none;
  border: none;
  color: hsl(236, 100%, 87%);
  transition: color 0.3s;
}

.timeframe__btn:hover {
  color: white;
}

.timeframe__btn--active {
  color: white;
}

.dashboard__activities {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  row-gap: 5rem;
}

@media (min-width: 1024px) {
  .dashboard__activities {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    -moz-column-gap: 1.7rem;
         column-gap: 1.7rem;
    row-gap: 2rem;
  }
}

.activity__card {
  position: relative;
  height: 34.5rem;
  cursor: url('/images/icons/cursor.png'), pointer;
  border-radius: 4rem;
  background-size: 15.5rem 15.5rem;
  background-position: top -2.7rem right 5rem;
  background-repeat: no-repeat;
}

@media (min-width: 1024px) {
  .activity__card {
    height: 14rem;
    border-radius: 0.7rem;
    background-size: 4.5rem 4.5rem;
    background-position: top -0.5rem right 1rem;
  }
}

.activity__card {
  background-color: var(--navy-900);
  overflow: hidden;
  transition: transform 0.3s, background-color 0.3s;
}

.activity__card:hover {
  transform: translateY(-0.4rem);
  background-color: var(--purple-500);
}

.activity__card:nth-child(1) {
  background-color: var(--orange-300-work);
}

.activity__card:nth-child(2) {
  background-color: var(--blue-300-play);
}

.activity__card:nth-child(3) {
  background-color: var(--pink-400-study);
}

.activity__card:nth-child(4) {
  background-color: var(--green-400-exercise);
}

.activity__card:nth-child(5) {
  background-color: var(--purple-700-social);
}

.activity__card:nth-child(6) {
  background-color: var(--yellow-300-self-care);
}

.activity__content {
  margin-top: 7.7rem;
  height: 100%;
  border-radius: 4rem;
  padding-top: 5.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-shrink: 0;
}

@media (min-width: 1024px) {
  .activity__content {
    margin-top: 3rem;
    border-radius: 0.7rem;
    padding: 1.6rem;
  }
}

.activity__content {
  background: var(--navy-900);
  transition: background-color 0.3s;
}

.activity__card:hover .activity__content {
  background: var(--purple-500);
}

.activity__header {
  padding-left: 5.3rem;
  padding-right: 5.3rem;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
}

@media (min-width: 1024px) {
  .activity__header {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.activity__header h3 {
  font-size: 4rem;
}

@media (min-width: 1024px) {
  .activity__header h3 {
    font-size: 1rem;
  }
}

.activity__ellipsis {
  width: 4.5rem;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 1024px) {
  .activity__ellipsis {
    width: 1rem;
  }
}

.activity__ellipsis {
  cursor: pointer;
  transition: opacity 0.3s;
  display: block;
}

.activity__ellipsis:hover {
  opacity: 1;
}

.activity__time {
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  padding-left: 5rem;
  padding-right: 5rem;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
}

@media (min-width: 1024px) {
  .activity__time {
    row-gap: 0rem;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
  }
}

.activity__current {
  font-size: 6.5rem;
  letter-spacing: 0.025em;
}

@media (min-width: 1024px) {
  .activity__current {
    font-size: 3.2rem;
  }
}

.activity__current {
  font-weight: 300;
}

.activity__previous {
  font-size: 2.125rem;
}

@media (min-width: 1024px) {
  .activity__previous {
    font-size: 0.85rem;
  }
}

.activity__previous {
  color: hsl(236, 100%, 87%);
}

@media (min-width: 1024px) {
  .lg\:block {
    display: block;
  }

  .lg\:hidden {
    display: none;
  }
}

